<div class="results-block">
  <%= render "layouts/messages"%>
</div>

<% if @stock %>
  <div class="card card-header results-block">
    <strong>Email: </strong> <%= @friends %>
    <strong>Name: </strong> <%= @friends %>
    <strong>Price: </strong> <%= @friends %>
  </div>
  <%= link_to "Follow user?", "#", class: "btn btn-xs btn-success", method: :post %>
<% end %>